# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.keras
*.pt
!backend/acne_best_model.h5

# Node
node_modules/
dist/
build/
.env

# OS
.DS_Store
Thumbs.db
backend/uploads/*
!backend/uploads/.gitkeep
